<%= form_with model: @userm url: edit_user_path(@user), method: :patch do |form| %>
  <div>
  <%= form.label :username, "Your coolest user name here: " %>
  <%= form.text_field :username, :value => 'Stupid Little Bitch' %>
  </div>

  <div>
  <%= form.label :email, "Email" %>
  <%= form.text_field :email, placeholder: "example@ifunny.com" %>
  </div>

  <div>
  <%= form.label :password, "Your strongest password for max security in case of nuclear explosion: " %> 
  <%= form.password_field :password %>
  </div>

  <div>
  <%= form.submit "Submit" %>
  </div>
<% end %>